@model IEnumerable<FootballLeague.Web.ViewModels.Models.MatchViewModel>


<h1>Match list</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <td>
                @Html.DisplayFor(modelItem => item.HomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDay)
            </td>
            <td>
                @if (item.MatchDay < DateTime.UtcNow)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                
            </td>
        </tr>
}
    </tbody>
</table>
