@model IEnumerable<FootballLeague.Web.ViewModels.Models.FixtureViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Fixture</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Win)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drawn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayedMatches)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Win)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayedMatches)
            </td>
        </tr>
}
    </tbody>
</table>
